body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    margin-left: 110px;
}